body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #404040;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.close {
    color: #bbbbbb;
    width: auto;
    position: fixed;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background-color: #238636;
    border: 1px #238636;
}

.button:hover {
    background-color: #45a049;
}

.modal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input {
    width: 82%;
    margin-left: 8px;
}

label {
    margin: 0;
}

p {
    padding-left: 5%;
    margin-bottom: 0;
}

hr {
    border-color: #6c757d;
}