.notification {
    position: fixed;
    top: 45%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0 auto;
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.notification:hover {
    opacity: 0.8;
}